<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Customer Signup Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Customer Details Form</h1>
<form action="#" th:action="@{/save-customer}" method="post">
    <p>First Name: <input type="text" th:field="*{customer.firstName}" /></p>
    <p>Last Name: <input type="text" th:field="*{customer.lastName}" /></p>
    <p>Email: <input type="text" th:field="*{customer.email}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>